
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark">
    <h3><a class="navbar-brand" href="#">BagZone</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/Login">Login</a>
        <a class="nav-item nav-link" href="signup">Sign-Up </a>  
      </div>
    </div>
  </nav>
        


</body>
</html>
 <!-- <router-outlet></router-outlet> -->


  